<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeMapper"> <!-- ';' 쓰지마!!!!!!! -->
	<select id="noticeCount" resultType="java.lang.Integer">
		select count(num) from notice
	</select>

	<select id="noticeUpdate" parameterType="com.arc.s3.model.board.NoticeVO">
		update notice set title=#{title}, contents=#{contents} where num=#{num}
	</select>
	
	<select id="noticeList" resultType="com.arc.s3.model.board.NoticeVO" parameterType="com.arc.s3.util.RowMaker">
		select * from 
			(select N.*, rownum R from 
				(select * from notice order by num desc) N) 
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="noticeSelect" resultType="com.arc.s3.model.board.NoticeVO" parameterType="java.util.Map">
		select * from notice where num=#{num}
	</select>
	
	<insert id="noticeInsert" parameterType="com.arc.s3.model.board.NoticeVO"> <!-- 같은 xml 파일 내에서는 중복 불가 -->
		insert into notice 
		values(board_seq.nextval, #{title}, #{writer}, #{contents}, sysdate, 0)
	</insert>
	
	<delete id="noticeDelete" parameterType="java.lang.Integer"> <!-- 패키지명도~ -->
		delete notice where num=#{num}
	</delete>
</mapper>
